@import url("https://fonts.cdnfonts.com/css/din-alternate");
* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0) ;
  overflow: hidden;
}
#nadace{
font-size: medium;
}

.koste{
 background-image: url(../images/kafe.png);
 background-size: cover;
}
.koste:active{
  transform: scale(1.2);
}
.hasa{
  background-image: url(../images/koste.png);
  background-size: cover;
}
.markus{
  background-image: url(../images/prilba.png);
  background-size: cover;
}
.char{
  display: flex;
  flex-direction: column ;
  margin-right: 3rem;
  gap: 1rem;
  background-color: rgba(48, 48, 48, 0.342);
  padding: 20px;
border-radius: 25px;
border-color: white 1px solid;
border-style:dashed;
width: 20rem;
margin-top: auto;
margin-bottom: auto;
margin-left: 3rem ;
}
.charita:active{
  transform: scale(1.1);
}
.charita{
  width: 10rem;
  height: 10rem;
  background-color: rgba(240, 248, 255, 0);
  border:1px solid white;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  font-size: large;
}
#upgrades{
  border-radius: solid yellow;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.nadpis{
  width: 300px;
}
.button{
  width: 10rem;
  height: 10rem;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.button:active{
  transform: scale(1.2);

}
.buttons{
  display: flex;
  flex-direction: column ;
  margin-right: 3rem;
  gap: 10px;
  background-color: rgba(48, 48, 48, 0.342);
  padding: 20px;
border-radius: 25px;
border-color: white 1px solid;
border-style:dashed;
width: 20rem;
}
#omsf{
  margin-top: 2rem;
  width: 20rem;
}
#cookie {
  max-width: 250px;
  width: 100%;
  cursor: pointer;
  transition: .3s ease;
}
#cookie:hover {
  transform:scale(1.3);
}
#counter{
  margin-top: 3rem;
}
section {
  display: flex;
  color: white;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}
article {
  text-align: center;
  font-size: 2rem;
  width: 100% ;
  margin-top: 3rem;
}
p{
  font-size: 100%;
}
.fotky{
  display: flex;
  flex-direction: row ;
  margin-right: 3rem;
  gap: 10px;
  background-color: rgba(48, 48, 48, 0.342);
  padding: 20px;
border-radius: 25px;
border-color: white 1px solid;
border-style:dashed;
width: 20rem;
margin-top: 2rem;
margin-left:3rem;
}
#img1{
background-image: url(../images/ospalykazma.png);
background-size: cover;

width: 10rem;
height: 10rem;
background-color: rgba(240, 248, 255, 0);
border: none;
color: white;
margin-left: auto;
margin-right: auto;

}
#img2{
  background-image: url(../images/KappaKazma.png);
  background-size: cover;

  width: 10rem;
  height: 10rem;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#img3{
  background-image: url(../images/kazma_prachy.png);
  background-size: cover;

  width: 10rem;
  height: 10rem;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#img4{
  background-image: url(../images/moneyrainkazma.png);
  background-size: cover;

  width: 10rem;
  height: 10rem;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#img1:active, #img2:active, #img3:active, #img4:active{
  transform:scale(1.1);
}
